@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text);
  text-shadow: 3px 3px 3px var(--text-shadow1);
  
}

:root {
  --color-background: rgb(39, 39, 39);
  --color-text: #ffffff;
  --color-bold: #00ffff;
  --text-shadow1: rgba(20, 20, 20, 0.473);
  --text-shadow2: #02a1a1a8;
}

.menu {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 30px;
}

.tt2 {
  color: var(--color-bold);
}
#burguer {
  display: none;
}
.itens-menu {
  display: flex;
  list-style: none;
}
.item {
  padding-right: 20px;
}
.item a {
  text-decoration: none;
  color: var(--color-text);
}
.item a:hover {
  color: var(--color-bold);
  text-decoration: underline;
  transition: 0.3s ease;
}

/* HOME */
.pagina-index{
  overflow: hidden;
}
.about {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 0;
  position: absolute;
  padding: 0 30px;
  transform: translate(0%, -50%);
  width: 60%;
}
.about h1 {
  font-size: 2.5em;
}
.about p {
  font-size: 20px;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  padding-right: 20px;
  transition: 0.3s ease-in-out;
}
.links a:hover {
  transform: scale(1.2);
}
.icone-git:hover{
  color:#171515;
  transition: 0.5s ease;
}
.icone-linkedin:hover{
  color:#0077B5;
  transition: 0.5s ease;
}
.icone-insta:hover{
  background: linear-gradient(to right, #E1306C,  #F77737,#FCAF45,#F56040, #D2297D,#C13584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease;
}
.icone-zap:hover{
  color:#25D366;
  transition: 0.5s ease;
}
@keyframes mexer {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg); /* Posição inicial */
  }
  25% {
    transform: translateX(-10px)  translateY(-10px) rotate(-2deg); /* Mexendo para a esquerda */
  }
  50% {
    transform: translateX(0) translateY(0px) rotate(0deg); /* Volta à posição original */
  }
  75% {
    transform: translateX(10px) translateY(10px) rotate(2deg); /* Mexendo para a direita */
  }
  100% {
    transform: translateX(0) translateY(0px) rotate(0deg); /* Volta à posição original */
  }
}
.format-img {
  display: flex;
  top: 30%;
  right: 5%;
  position: absolute;
  transform: translate(5%, -30%);
  max-width: 330px;
  max-height: 330px;
  border: 5px solid var(--color-bold);
  border-radius: 100%;
  box-shadow: 0px 0px 10px 10px var(--text-shadow2);
  animation: mexer 5s ease-in-out infinite;
}

.image img {
  position: relative;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  max-width: 500px;
  max-height: 500px;
  clip-path: circle();
}
/* HABILIDADES */

.skills-professional {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  max-width: 800px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.skill {
  position: relative;
  border: 5px solid var(--color-bold);
  width: 100px;
  max-height: 100px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.skill i {
  font-size: 50px;
}
.skill:hover {
  cursor: pointer;
  border-color: var(--text-shadow2);
  box-shadow: 0px 5px 5px var(--text-shadow1);
  
  transform: scale(1.2);
}
.tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.tool {
  position: relative;
  border: 5px solid var(--color-bold);
  width: 100px;
  max-height: 100px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.tool i {
  font-size: 50px;
}
.tool:hover {
  cursor: pointer;
  border-color: var(--text-shadow2);
  box-shadow: 0px 5px 5px var(--text-shadow1);
  transition: 0.3s ease;
  transform: scale(1.2);
}
.skill .tooltip-text, .tool .tooltip-text{
  visibility: hidden;
  width: 100px; 
  background-color: #555; 
  color: #fff; 
  text-align: center;
  border-radius: 5px; 
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -100px; 
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.skill:hover .tooltip-text, .tool:hover .tooltip-text{
visibility: visible;
opacity: 1;
}
/*  PROJETOS  */
.pagina-projetos{
  overflow-x: hidden;
}
.projetos-container {
  display: flex;
  left: 50%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
}
.projetos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.projeto {
  position: relative;
  border: 5px solid var(--color-bold);
  padding: 15px;
  width: 400px;
  height: auto;
  max-height: 600;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.projeto img {
  width: 55%;
  height: 200px;
}
.projeto a {
  font-size: 40px;
  text-decoration: none;
  color: var(--color-text);
  transition: .5s ease-in-out;
}

.projetos p {
  text-align: justify;
}
.projeto:hover {
  border-color: var(--text-shadow2);
  box-shadow: 0px 5px 5px var(--text-shadow1);
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* RODAPE */
.rodape {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  background-color: var(--text-shadow1);
}


